.Projectcontainer {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100%;
  gap: 7rem;
}

.sliderContainer {
  display: flex;
  width: 100%;
  height: 100%;
  overflow: hidden;
}

.Projectcontent {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 80%;
  max-width: 70rem;
  gap: 3rem;
}

.ProjectprojectItself {
  display: flex;
  flex-direction: row-reverse;
  justify-content: flex-end;
  align-items: center;
  width: 100%;
  gap: 5%;
}

.Projectcontainer[language='persian'] .ProjectprojectItself {
  flex-direction: row;
}

.Projectpic {
  position: relative;
  display: flex;
  width: 100%;
  height: 100%;
}

.Projectlaptop {
  height: 300px;
  width: 100%;
  object-fit: cover;
  border: 2px solid var(--global-color-primary);
}

.Projectphone {
  display: flex;
  position: absolute;
  object-fit: contain;
  height: max-content;
  right: -1rem;
  bottom: -1rem;
  width: 7rem;
  z-index: 4;
  border: 2px solid var(--global-color-primary);
}

.Projectdetails {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-end;
  width: 100%;
  height: 100%;
  gap: 2.2rem;
}

.Projectcontainer[language='persian'] .Projectdetails * {
 text-align: end;
 flex-direction: row-reverse;
}

.ProjectprojectName {
  width: 100%;
  font-size: 1.5rem;
}

.Projectdis {
  width: 100%;
  margin: 0;
  font-size: 1.3rem;
}

.Projectskills {
  display: flex;
  width: 100%;
  gap: .5rem;
}

.Projectskill {
  font-size: 1.1rem;
  border-radius: 1rem;
  padding: .5rem;
  background-color: var(--global-color-lighter);
}

.ProjectprojectLink {
  display: flex;
  flex-wrap: wrap;
  width: 100%;
  gap: 1rem 2rem;
}

.Projectcontainer[language='persian'] .ProjectprojectLink {
  justify-content: flex-start;
  text-align: end;
}

.ProjectvisitSite {
  position: relative;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  text-decoration: none;
  font-size: 1.4rem;
  width: max-content;
}

.ProjectvisitSite span:nth-child(1) {
  position: absolute;
  top: 1.6rem;
  left: 0;
  width: 30%;
  height: .1rem;
  background-color: white;
  transition: all .5s ease;
}

.Projectcontainer[language='persian'] .ProjectvisitSite span:nth-child(1) {
  left: initial;
  right: 0;
  top: 1.9rem;
}

.ProjectvisitSite:hover span:nth-child(1) {
  width: 100%;
  transition: all .5s ease;
}

.ProjectperviewTitle {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  width: 100%;
  padding-top: 2rem;
}

.Projectcontainer[language='persian'] .ProjectperviewTitle {
  justify-content: flex-end;
}

.ProjectperviewTitle h2 {
  display: flex;
  font-size: 2rem;
  gap: 1rem;
  width: max-content;
}

.ProjectprojectPerview {
  display: flex;
  flex-direction: column;
  width: 100%;
}

.ProjectpartOne {
  position: relative;
  display: flex;
  justify-content: space-between;
  gap: 5%;
}

.sideLoadContainer {
  position: absolute;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100%;
}

.Projectcontainer[language='persian'] .ProjectpartOne {
  flex-direction: row-reverse;
}

.ProjectpartOneImg {
  width: 100%;
}

.ProjectpartOne img{
  object-fit: cover;
  width: 100%;
  height: 386px;
  min-width: 25rem;
  scale: 1;
}

.ProjectpartOneDetails {
  display: flex;
  flex-direction: column;
  justify-content: center;
  width: 100%;
  gap: .5rem;
}

.Projectcontainer[language='persian'] .ProjectpartOneDetails, 
.Projectcontainer[language='persian'] .ProjectpartOneDetails h1 {
  width: 100%;
  align-items: flex-end;
  text-align: end;
}

.Projectcontainer[language='persian'] .ProjectpartOneDetails h1 {
  font-size: 2.2rem;
}

.ProjectpartOneDetails p {
  font-size: 1.3rem;
}

@keyframes projectOne {
  form {
    scale: 1;
  }

  to {
    scale: 1.1;
  }
}

@keyframes projectOne1 {
  form {
    transform: rotate3d(3, -1, 0, 30deg);
  }

  to {
    transform: rotate3d(3, 1, 0, 30deg);
  }
}

@keyframes projectOne2 {
  form {
    transform: rotate3d(3, -1, 0, 30deg);
  }

  to {
    transform: rotate3d(0, 0, 0, 30deg);
  }
}


@media only screen and (max-width: 1024px) and (min-width: 640px) {
  .ProjectprojectItself {
    gap: 1rem;
  }

  .Projectpic {
    width: 100% !important;
  }

  .Projectlaptop {
    width: 100%;
    height: 381px;
  }

  .Projectphone {
    width: 7rem;
  }

  .Projectdetails {
    width: 100%;
    min-width: initial;
    gap: 1rem;
  }

  .Projectdetails * {
    display: flex;
    flex-wrap: wrap;
  }

  .Projectskill {
    display: flex;
    gap: 4rem 1rem !important;
  }

  .ProjectpartOne {
    gap: 1rem;
  }

  .ProjectpartOneDetails h1 {
    font-size: 1.6rem !important;
    padding-bottom: 1rem !important;
  }
 
  .ProjectpartOneImg img {
    min-width: initial;
    height: 220px;
    object-fit: cover;
  }
} 

@media only screen and (max-width: 640px) and (min-width: 480px) {
  .Projectcontent {
    width: 90%;
    gap: 2.5rem;
  }

  .ProjectprojectItself {
    flex-direction: column;
    gap: 2rem;
  }

  .Projectcontainer[language='persian'] .ProjectprojectItself {
    flex-direction: column;
    gap: 2rem;
  }

  .Projectpic {
    width: 100%;
  }

  .Projectlaptop {
    object-fit: contain;
    width: 100%;
    height: 100%;
  }

  .Projectphone {
    display: none;
  }

  .ProjectperviewTitle {
    padding-top: 0;
  }

  .ProjectvisitSite {
    font-size: 1.3rem;
  }

  .Projectdetails {
    width: 100%;
  }

  .ProjectpartOne {
    gap: .5rem;
  }

  .ProjectpartOneDetails h1 {
    font-size: 1.6rem !important;
    padding-bottom: 1rem !important;
  }
 
  .ProjectpartOne img {
    min-width: initial;
    height: 220px;
    object-fit: cover;
  }
}

@media only screen and (max-width: 480px) and (min-width: 0) { 
  .Projectcontainer {
    gap: 3rem;
  }

  .Projectcontent {
    width: 95%;
    gap: 2rem;
  }

  .ProjectprojectItself {
    flex-direction: column;
    gap: 1.5rem;
  }

  .Projectcontainer[language='persian'] .ProjectprojectItself {
    flex-direction: column;
    gap: 1.5rem;
  }

  .Projectpic {
    width: 100%;
  }

  .Projectlaptop {
    object-fit: contain;
    width: 100%;
    height: 100%;
  }

  .Projectdetails {
    gap: 1rem;
  }

  .Projecttitle {
    width: 95%;
    font-size: 2.5rem;
  }

  .ProjecttitleDis {
    width: 95%;
    font-size: clamp( 1rem, 6.7vw, 2rem) 
  }

  .Projectskills {
    display: flex;
    flex-wrap: wrap;
    min-width: initial;
    height: min-content;
    width: 100%;
    gap: .5rem;
  }

  .Projectskill {
    display: block;
    padding: .3rem;
    font-size: 1rem;
  }

  .Projectpic {
    width: 100%;
  }

  .Projectphone {
    display: none;
    right: 2%;
  }

  .ProjectprojectLink {
    flex-wrap: wrap;
    width: 100%;
    gap: 1rem;
  }

  .ProjectvisitSite span:nth-child(1) {
    top: 1.4rem !important;
  }
  
  .ProjectprojectLink a {
    font-size: 1.2rem;
  }

  .Projectcontainer[language='persian'] .ProjectprojectLink a {
    font-size: 1.1rem;
  }

  .Projectdetails {
    width: 100%;
  }

  .ProjectprojectPerview {
    width: 100%;
  }

  .ProjectperviewTitle {
    justify-content: flex-start;
    align-items: center;
    width: 100%;
    padding-top: 0;
  }

  .ProjectperviewTitle h2 {
    font-size: 1.5rem;
    gap: .3rem;
  }

  .ProjectperviewTitle h2 * {
    height: 2rem;
  }

  .ProjectpartOne {
    flex-direction: column;
    gap: 1rem;
  }
  
  .Projectcontainer[language='persian'] .ProjectpartOne {
    flex-direction: column;
    gap: 1rem;
  }

  .ProjectpartOneDetails {
    width: 100%;
  }

  .ProjectpartOneDetails h1 {
    font-size: 1.6rem !important;
    padding-bottom: 1rem !important;
  }
 
  .ProjectpartOne img {
    height: initial;
    min-width: initial;
    min-height: 200px;
  }
}