.AboutContainer {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  height: max-content;
  width: 100vw;
}

.Abouttitle {
  position: relative;
  font-size: 3rem;
  margin-bottom: 1.5rem;
}

.Abouttitle::after {
  content: '';
  position: absolute;
  left: 3rem;
  right: 3rem;
  height: .15rem;
  bottom: -.7rem;
  background-color: var(--global-color-primary);
}

.AbouttitleDis {
  margin: 0;
  font-size: 2rem;
  margin-bottom: 4rem;
}

.Aboutcontent {
  display: flex;
  align-items: flex-start;
  justify-content: space-between;
  width: 80%;
  max-width: 70rem;
  overflow-y: initial;
}

.AboutContainer[language='persian'] .Aboutcontent {
  flex-direction: row-reverse;
}

.AboutaboutLeft {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
  width: 43%;
  max-width: 30rem;
  gap: .8rem;
}

.AboutContainer[language='persian'] .AboutaboutLeft {
  display: flex;
  align-items: flex-end;
  text-align: end;
}

.AboutaboutLeft h1 {
  font-size: 3rem;
  margin: 0;
  margin-bottom: 1rem;
}

.AboutaboutLeft p {
  font-size: 1.3rem;
  margin: 0;
}

.AboutaboutLeft a {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 2rem;
  width: 12rem;
  height: 3rem;
  font-size: 1.2rem;
  color: var(--global-color-primary);
  border: .1rem solid var(--global-color-primary);
  text-decoration: none;
  transition: all .4s ease;
  overflow: hidden;
  z-index: 2;
}

.AboutaboutLeft a:hover {
  color: white;
  transition: all .8s ease;
}

.AboutaboutLeft a span:nth-child(1) {
  position: absolute;
  width: 12rem;
  height: 3rem;
  left: -13.5rem;
  background-color: var(--global-color-primary);
  transition: all .4s ease;
  z-index: -1;
}

.AboutaboutLeft a span:nth-child(2) {
  position: absolute;
  width: 2rem;
  height: 3.4rem;
  left: -2.5rem;
  bottom: -.8rem;
  transform: rotate(-30deg);
  background-color: var(--global-color-primary);
  transition: all .4s ease;
  z-index: -1;
}

.AboutaboutLeft a:hover span:nth-child(1) {
  left: 0rem;
  transition: all .8s ease;
}

.AboutaboutLeft a:hover span:nth-child(2) {
  left: 11rem;
  transition: all .8s ease;
}

.AboutaboutRight {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
  width: 47%;
  max-width: 31rem;
}

.AboutContainer[language='persian'] .AboutaboutRight {
  display: flex;
  align-items: flex-end;
  text-align: end;
}

.AboutaboutRight h1 {
  padding-left: -1rem;
  font-size: 2.5rem;
  margin: 0;
  margin-bottom: 2.5rem;
}

.Aboutskills {
  min-height: 35%;
  display: flex;
  flex-wrap: wrap;
  gap: 2.5rem 1rem;
  padding-left: 1rem;
  border-right: 2px solid var(--global-color-lighter);
  border-top: 2px solid var(--global-color-lighter);
  border-bottom: 2px solid var(--global-color-lighter);
  border-left: 2px solid var(--global-color-lighter);
}

.AboutContainer[language='persian'] .Aboutskills {
  flex-direction: row-reverse;
  padding-left: initial;
  padding-right: 1rem;
}

.Aboutskill {
  color: white;
  background-color: var(--global-color-lighter);
  font-size: 1.3rem;
  padding: .6rem 1.5rem;
  border-radius: .2rem;
  height: max-content;
  width: max-content;
}

@media only screen and (max-width: 1024px) and (min-width: 640px) {
  .Aboutcontainer {
    height: 100%;
  }
  
  .Aboutcontent {
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    width: 85%;
    gap: 3.5rem;
  }

  .AboutContainer[language='persian'] .Aboutcontent {
    flex-direction: column;
  }

  .AboutaboutLeft {
    width: 100%;
    max-width: initial;
  }
  
  .AboutaboutRight {
    width: 100%;
    max-width: initial;
  }

  .AboutaboutRight h1 {
    padding-left: 0;
  }
} 

@media only screen and (max-width: 640px) and (min-width: 480px) { 
  .Aboutcontainer {
    height: max-content;
  }
  
  .Aboutcontent {
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    width: 85%;
    gap: 4rem;
  }

  .AboutContainer[language='persian'] .Aboutcontent {
    flex-direction: column;
    gap: 1.5rem;
  }

  .AboutaboutLeft {
    width: 100%;
    max-width: initial;
  }

  .AboutaboutLeft h1 {
    font-size: 1.8rem;
  }

  .AboutaboutLeft a {
    margin-top: 1rem;
  }
  
  .AboutaboutRight {
    width: 100%;
    max-width: initial;
  }

    
  .AboutaboutRight h1 {
    font-size: 1.8rem;
  }


  .AboutaboutRight h1 {
    padding-left: 0;
  }

  .Aboutskill {
    font-size: 1.2rem;
  }
}

@media only screen and (max-width: 480px) and (min-width: 0) {
  .Aboutcontainer {
    height: 100%;
  }
  
  .Aboutcontent {
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 95%;
    gap: 4rem;
  }
  
  .AboutContainer[language='persian'] .Aboutcontent {
    flex-direction: column;
  }

  .Abouttitle {
    margin-bottom: .5rem;
    font-size: clamp(1rem, 10vw, 3rem);
  }

  .Abouttitle::after {
    bottom: -.3rem;
  }

  .AbouttitleDis {
    margin-bottom: 3rem;
    font-size: clamp(1rem, 6.5vw, 1.66rem);
  }

  .AboutaboutLeft {
    display: flex;
    justify-content: center;
    align-items: flex-start;
    width: 100%;
    max-width: initial;
  }

  .AboutaboutLeft p {
    padding: 0 0rem;
  }

  .AboutaboutLeft h1 {
    font-size: 1.6rem;
  }

  .AboutaboutLeft a {
    margin-top: 1rem;
    width: 10rem;
    font-size: 1rem;
    height: 2.6rem;
  }
  
  .AboutaboutRight {
    display: flex;
    justify-content: center;
    align-items: flex-start;
    width: 100%;
    max-width: initial;
  }
  
  .AboutaboutRight h1 {
    font-size: 1.6rem;
  }

  .AboutlearningMore {
    width: 100%;
  }

  .Aboutskill {
    padding: .5rem .5rem;
    font-size: 1rem;
  }
}