@keyframes loading {
  1% {
    
  }

  99% {
    transform: rotate(360deg);
  }
}

.SideLoadingContainer span {
  width: 1.5rem;
  height: 1.5rem;
  border: .2rem solid transparent;
  border-top: .2rem solid white;
  border-radius: 50%;
  animation: 1.2s infinite loading;
}