.Resumesection {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100vw;
  padding-top: 2rem;
}

.Resumehead {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 1rem;
  width: 100%;
}

.Resumehead h1 {
  font-size: 2.5rem;
  width: 70%;
  max-width: 70rem;
}

.Resumesection[language='persian'] .Resumehead h1 {
  text-align: end;
}

.Resumehead p {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
}

.Resumehead button {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 12rem;
  height: 3rem;
  border: .1rem solid var(--global-color-primary);
  background-color: transparent;
  text-decoration: none;
  cursor: pointer;
  gap: .5rem;
}

@media only screen and (max-width: 1024px) and (min-width: 640px) {

} 

@media only screen and (max-width: 640px) and (min-width: 480px) {
  .Resumehead h1 {
    font-size: 2rem;
    width: 85%;
    max-width: 70rem;
  }
}

@media only screen and (max-width: 480px) and (min-width: 0) { 
  .Resumehead h1 {
    font-size: 1.5rem;
    width: 95%;
    max-width: 70rem;
  }

  .Resumehead a {
    font-size: .8rem;
  }
}