:root {
  --global-color-primary: #6ec1e4;
  --global-color-primary-lowop: #6ec1e4b9;
  --global-color-secondary: #121f30;
  --global-color-lighter: #1e3553;
  --global-color-hover: #73d622;
  --global-color-ReallyLight: rgb(104, 206, 206);
}

*,
html,
body {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  color: rgb(255, 255, 255);
}

html,
body {
  font-family: iranyekan;
  overflow-x: hidden;
  background-color: var(--global-color-secondary);
}

@font-face {
  font-family: 'iranyekan';
  src: url('./fonts/iranyekan.woff');
}
@font-face {
  font-family: 'DancingScript';
  src: url('./fonts/DancingScript.ttf');
}
@font-face {
  font-family: 'Roboto';
  src: url('./fonts/Roboto.ttf');
}