.FormContainer {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: max-content;
}

.FormContainer form {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 90%;
  max-width: 25rem;
  gap: 1rem;
  background-color: var(--global-color-lighter);
  padding-top: 2rem;
  padding-bottom: 2rem;
  border-radius: 1rem;
}

.FormContainer form[homeEdition = false] {
  margin-top: 8rem;
}

.FormContainer form h1 {
  width: 100%;
  display: flex;
  justify-content: center;
}

.FormContainer form p {
  width: 100%;
  display: flex;
  justify-content: center;
  padding-bottom: 1rem;
}

.FormContainer form input,
.FormContainer form textarea {
  padding: 0 .5rem;
  height: 2rem;
  width: 85%;
  background-color: #537d8f;
  border: none;
}

.FormContainer form label{
  display: flex;
  width: 85%;
}

.FormContainer[language='persian'] form label {
  justify-content: flex-end;
}

.FormContainer[language='persian'] form input,
.FormContainer[language='persian'] form textarea {
  text-align: end;
}

.FormContainer form textarea {
  height: 6rem;
}

.FormContainer form input:last-child {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 10rem;
  height: 2.5rem;
  margin-top: 1rem;
  cursor: pointer;
}

@media only screen and (max-width: 1024px) and (min-width: 640px) {

} 

@media only screen and (max-width: 640px) and (min-width: 480px) {

}

@media only screen and (max-width: 480px) and (min-width: 0) { 
  .FormContainer form {
    width: 95%;
    padding: 1rem 0;
  }

  .FormContainer form p,
  .FormContainer form input,
  .FormContainer form textarea,
  .FormContainer form label {
    width: 95%;
  }
}