.Homesection {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  height: max-content;
  width: 100vw;
}

.Homep {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding-top: 10rem;
  height: max-content;
  width: 100vw;
  gap: 3rem;
}

.HomepTitlec {
  display: flex;
  flex-direction: column;
  gap: .5rem;
}

.HomepDis {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  font-size: 1.8rem;
  text-align: center;
}

.HomepTitle {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100;
  font-size: 2.5rem;
  max-width: 75rem;
}

@media only screen and (max-width: 1024px) and (min-width: 640px) {
  .HomepTitle {

  }

  .HomepDis {

  }

} 

@media only screen and (max-width: 640px) and (min-width: 480px) {
  .Homep {
    padding-top: 5.5rem;
  }
  .HomepTitlec {
    width: 90%;
  }
  .HomepTitle {
    font-size: 2.2rem;
    width: 100%;
    max-width: 70rem;
  }

  .HomepDis {
    font-size: 1.6rem;
    width: 100%;
    max-width: 70rem;
  }
}

@media only screen and (max-width: 480px) and (min-width: 0) { 
  .Homep {
    gap: 2rem;
    padding-top: 4rem;
  }

  .HomepTitlec {
    width: 95%;
  }

  .HomepTitle {
    font-size: 2rem;
    width: 100%;
    max-width: 70rem;
  }

  .HomepDis {
    text-align: center;
    font-size: clamp(.5rem, 5.8vw, 1.3rem);
    width: 100%;
    max-width: 70rem;
  }
}