.Projectsection {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100vw;
  padding-top: 8rem;
}

.Projectsection h1 {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  width: 80%;
  font-size: 2.5rem;
  max-width: 70rem;
  padding-bottom: 3rem;
}